.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #3c404d #272a33;
}

.buttonContainer {
    position: fixed;
    bottom: 40px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    width: calc(100% - 2px);
}

.button {
    border: 1px solid #2689fb;
    border-radius: 20px;
    background-color: #2689fb;
    box-shadow: 0 0 8px 0 rgb(34 60 80 / 41%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        background-color: #4b9cf9;
    }
}

.icon {
    width: 20px;
    height: 20px;
}
