.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messageViewContainer {
    display: flex;
    justify-content: space-between;
}

.messagesEnd {
    float: left;
    clear: both;
}
