@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text {
    vertical-align: middle;
    color: white;
    text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}

.icon {
    width: 24px;
    font-size: 24px;
    vertical-align: middle;
    filter:
        brightness(0)
        saturate(100%)
        invert(100%)
        sepia(0%)
        saturate(1%)
        hue-rotate(269deg)
        brightness(105%)
        contrast(101%);
}

.iconLoading {
    animation: rotating 1s linear infinite;
}
