.authorName {
    font-weight: bold;
    vertical-align: middle;
    color: #03A9F4;
    border-radius: 3px;
    margin-right: 1px;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        1px 0 black,
        -1px 0 black,
        0 1px black,
        0 -1px black;

    &::after {
        content: ": ";
    }
}

.authorNameCustomBackgroundColor {
    text-shadow: none;
    padding: 2px 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3px;
}

.badgeServiceIcon,
.badgeLeft,
.badgeRight {
  vertical-align: middle;
  padding-right: 2px;
  height: 24px;
  width: 24px;
}
